:root {
    --primary-color: #00BFAE;  /* Bold and Striking */
    --secondary-color: #1F1B2E;  /* Rich and Deep */
    --background-color: #F6F5F3;  /* Clean and Calm */
    --text-color: #333333;  /* Clear and Neutral */
    --accent-color: #FF6B6B;  /* Fresh and Fun */
    --hover-color: #FFDA7F;  /* Interactive and Dynamic */

  
    --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Lora', serif;
  --accent-font: 'Playfair Display', serif;
  --monospace-font: 'Fira Code', monospace;
  }
  
body {
    top:0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: 500;
}

nav .logo a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
}
nav .onMobile{
    display: none;
}
nav #icon{
    display: none;
}
nav ul li a:hover{
    color: var(--hover-color);
    }
nav .social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
    flex-direction: row;
}
.onMobile:active{
    display: flex;
}
/* Responsive styles */
@media (max-width: 768px) {
    nav .onPc {
        display: none; /* Hide desktop menu */
    }
nav #icon{
    display: block;
    font-size: 30px;
}
    nav .onMobile {
        display: none; /* Show mobile menu */
        flex-direction: column;
        padding-top: 30px;
        align-items: center;
        gap: 20px;
        position: absolute;
        top: 60px; /* Adjust based on your layout */
        right: 0;
        width: 50%;
        height: 100%;
        background: var(--primary-color);
        
    }

    nav .onMobile li {
        display: block; /* Stack mobile menu items */
        margin: 10px 0;
    }
}
@keyframes showMenu {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
        }

}
@keyframes closeMenu {
    0%{
        transform: translateX(0);
        }
        100%{
            transform: translateX(100%);
            }
        }
.container-fluid{
    max-width: 1200px;
    margin: 0 auto;
    color: var(--background-color);
    padding: 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--primary-font);
}